.body
{
    padding: 50px;
}

.container
{
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    /* De esta manera se centra un login */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.form-group
{
    margin-bottom: 30px;
}